<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resto demo</title>
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
 </head>
  <body>
    <header th:include="admin/template::header"></header>
    
    <div class="container text-center ">
     <a class="btn btn-primary my-5 " th:href="@{/product/create}">crear</a>
		
	</div>  

      
   <footer th:include="admin/template::footer"></footer> 
   <script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>