<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
   <header th:include="admin/template::header"></header>
   
   <footer th:include="admin/template::footer"></footer> 
  <script th:src="@{bootstrap/js/bootstrap.bundle.min.js}"></script>
 </body>
</html>